
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/estilo.css">
</head>
<body>
    <header class="menu1">
        <div class="menu2">
        <h2 style="background-color:bisque; width: 500px;">Navin Balmaceda / Tecn.computacion</h2>
        </div>
        <nav>
          <a href="{{ url_for('home') }}">inicio</a> 
          <a href="{{url_for('contacto') }}">contacto</a>
          <a href="{{url_for('curriculum') }}">curriculum</a>
          <a href="a" >Ubicacion</a>
    
        </nav>
          
    </header>

    {% block body%}


{% endblock %}
</body>
</html>