{% extends './base.html' %}

{% block body %}

  

    <div class="formulario">

    <form action="sena" method="post">

       
    <label for="name">Nombre:</label>
    <input type="text" id="nombre" name="nombre">
       

        
    <label for="email">Correo Electrónico:</label>
    <input type="text" id="email" name="email">
        

        
    <label for="subject">Asunto:</label>
    <input type="text" id="asunto" name="asunto">
        

        
    <label for="message">Mensaje:</label>
    <textarea id="mnj" name="mnj"></textarea>
       

    <input type="submit" value="Enviar">
    </form>
      </div>

      {% endblock %}




