<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/estilo.css">
</head>
<body>
    <header class="menu1">
        <div class="manu2">
        <h2 style="background-color:bisque; width: 500px;">Navin Balmaceda / Tecn.computacion</h2>
      </div>
        <nav>
          <a href="http://127.0.0.1:5000/curriculum">curriculum</a> 
          <a href="a" class="enlaces">proyectos</a>
          <a href="http://127.0.0.1:5000/contacto">contacto</a>
          <a href="a" class="enlaces">Ubicacion</a>
    
        </nav>
          
    </header>

    <div class="formulario">

    <form action="sena" method="post">

       
    <label for="name">Nombre:</label>
    <input type="text" id="nombre" name="nombre">
       

        
    <label for="email">Correo Electrónico:</label>
    <input type="text" id="email" name="email">
        

        
    <label for="subject">Asunto:</label>
    <input type="text" id="asunto" name="asunto">
        

        
    <label for="message">Mensaje:</label>
    <textarea id="mnj" name="mnj"></textarea>
       

    <input type="submit" value="Enviar">
    </form>
      </div>
</body>
</html>




