
{% extends './base.html' %}

{% block body %}



<!-- presentacion de navin -->

<div class="personal">

  <div style="text-align: left;" class="perfil">
    <h1>Navin Balmaceda Monzon</h1>
    <hr style="color:#102C57;;">
    <p><b>Hola tengo</b><br>25 años</p>
    <p><b>Telefono:</b><br>3117238683</p>
    <p><b>Correo:</b><br>Navinbalmaceda83@gmail.com</p>
    <p><b>Direccion:</b> <br>trv 22 Los Fundadores</p>

    <!-- botones -->
     
   <a href="curriculum.html">
    <button class="boton">Ver curriculum
   </a>

   <a href="contacto.html">
    <button class="boton">Ver contacto
   </a>
  
 <!-- botones -->
</div>

 
<div class="imagen1">
  <img src="static/imagenes/navin.jpg" alt="">
</div>
  
  
</div>

<!-- Mision  -->
<hr>
 <div class="miperfil">
   <h2>Acerca de mi</h2>
  <center> <p style="width: 50%;">Soy tecnico en mantenimiento de equipos de computacion desde 2016 presto mi servicios para la ciudad de Valledupar como reparaciones Software y hardware, soporte remoto. Especializado en frontend y backeng y ciberseguridad como hackings etico.</p>
  </center>
  </div>
<hr>

<!-- mis servicios -->
<h1 style="text-align: center;" >Mis servicios</h1>

<div class="imagenes">
    <div>
    <img src="static/imagenes/configuracion.png" class="imagenes1">
    <p class="texto">Soporte Tecnico</p>

</div>
  <div>  <img src="static/imagenes/redes.png" class="imagenes1">
    <p class="texto">Redes</p>
</div>
  <div> <img src="static/imagenes/informatica.png" class="imagenes1">
   <p class="texto">Software</p>
</div>

</div>

<!-- titulo final -->
<hr>
<footer>
<div class="Final"><p><b>Politica de provacidad</b>
<br>Creado por Navin Balmaceda</p>
<div>
<p><b>Llama ya:</b>
<br>3117238683</p>
<P>Sigueme en
    <br><img src="static/imagenes/facebook.png" alt="" width="50px" height="50px">
    <img src="static/imagenes/instagram.png" alt="" width="50px" height="50px">
    <img src="static/imagenes/twitter.png" alt="" width="50px" height="50px">
</P>
</div>
</div>
</footer>

{% endblock %}